@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primaryColor: #40196d;
    --lightBlueColor: #1dcbef;
    --blackColor: #000;
    --successColor: #48d38a;
    --negativeColor: #f7685b;
    --textColor: #979797;
    --whiteColor: #fff;
    --whiteAlt: #fff;
    --darkAlt: #000;
    --offWhite: #f9f9f9;
    --offWhiteTrans: hsla(228, 7%, 87%, .3);
    --borderOff: hsla(228, 7%, 87%, .5);
    --offText: rgba(0, 0, 0, .5);
    --bgOffset: #f4f4f4;
    --placeHolder: #979797;
    --offBlue: #eff1ff;
    --boxShadow: rgba(64, 25, 109, .07);
    --offBlueTran: rgba(223, 227, 255, .3);
    --primaryAlt: #40196d;
    --offGreen: rgba(72, 211, 138, .5);
    --ctaOffBlue: rgba(64, 25, 109, .3);
    --overlay: rgba(64, 25, 109, .2);
    --successColorTrans: #dcffec;
    --redColor: #28991b;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@layer components {
    .max-container {
        max-width: 1180px;
        margin: 0 auto;
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
    }
    [data-toggle=dropdown] > .no-link {
        cursor: pointer;
        height: 40px;
    }
    .nav-container {
        display: block;
        margin: 0 auto;
        max-width: 1500px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .no-link {
        @apply flex items-baseline
    }
    .has-left-margin {
        height: 42px;
        margin-left: 28px;
        margin-right: 0 !important;
    }
    .header {     
        @apply flex justify-between items-center bg-white z-50 w-full h-[65px] left-0 fixed top-0 shadow-3xl
    }
    .header-wrap {
        @apply flex justify-between items-center w-full
    }
    .header-left {
        @apply flex items-center
    }
    .main-menu-wrap {
        @apply flex ml-[15%]
    }
    .header-center {
        @apply flex justify-center items-center ml-auto
    }
    /* .header-right {
        @apply 
    } */
    .header-center a {
        @apply capitalize
    }
    .header-center a:first-child {
        @apply text-xs font-muli font-bold text-[var(--primaryAlt)]
    }
    .header-center a:last-of-type {                      
        transition: transform .6s;   
        @apply flex justify-center items-center bg-[var(--primaryColor)] h-[43px] cursor-pointer text-white
        text-sm font-muli font-bold leading-none p-[15px] ml-[40px] min-w-[136px] max-w-[136px] rounded-lg
    }
    /* .kuda-header--wrap .kuda-cta, .kuda-header--wrap .kuda-cta-outline {
        height: 46px;
        margin-left: 40px;
        max-width: 136px;
        min-width: 136px;
    } */
    .logo {
        @apply min-w-[100px] h-5
    }
    .logo svg {
        height: 18px;
        width: auto;
    }
    .nav-menu {
        @apply mr-[42px] min-w-[80px] relative
    }
    .no-link {
        @apply items-center
    }
    .color-primary {
        @apply text-[var(--primaryColor)]
    }
    .nav-menu p {
        @apply text-xs font-bold font-muli cursor-pointer h-10 items-baseline
    }
    li.nav-menu .no-link {
        @apply items-center
    }
    .dropDown {
        @apply ml-[7px]
    }
    .dropdown-menu {
        @apply absolute 
    }
    .mobile-toggle {
        @apply md:hidden sm:flex sm:items-center sm:h-5 sm:w-[23px]
    }
    .hamburger {
        display: inline-block;
        height: auto;
        position: relative;
        top: 3px;
        width: 23px;
    }
    .hamburger .hamburger--inner {
        transition-duration: 75ms;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    }
    .hamburger .hamburger--inner:before {
        top: -9px;
        transition: top 75ms ease .12s, opacity 75ms ease;
    }
    .hamburger .hamburger--inner:after, 
    .hamburger .hamburger--inner:before {
        background-color: var(--primaryAlt);
        border-radius: 4px;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transition-duration: .15s;
        transition-property: transform;
        transition-timing-function: ease;
        width: 20px;
    }


    .home-section--one {
        @apply mt-[65px] px-10 pt-12 pb-[60px]
    }
    .home-section--wrap {
        @apply flex min-h-[555px] 
    }
    .home-twin--cards {
        @apply flex justify-between items-center w-full
    }
    .home-section-one--48 {
        @apply w-[42%]
    }
    .home-section-one--52 {
        @apply w-[52%]
    }
    .section-48--wrap {
        @apply max-w-[396px]
    }
    .section-52--wrap {
        @apply flex justify-center
    }
    .hasAnimation {
        @apply relative mt-[-12px]
    }
    .first-anim {
        @apply w-full h-full overflow-hidden my-0 mx-auto outline-none
    }
    .main-heading {
        @apply text-[42px] leading-[1.15] font-black font-muli text-[var(--primaryColor)] mb-5
    }
    .main-desc {
        @apply mb-5 text-[17.5px] font-muli font-semibold text-black leading-normal
    }
    .social--links {
        @apply flex mb-5 pt-4
    }


}
