@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    /* Resetting default browser styles */
    /* 
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        } 
    */
    

    /* Setting typography defaults */
    :root {
        /* --font-family-sans: 'Inter', sans-serif;
        --font-family-serif: 'Georgia', serif;
        --font-family-mono: 'Menlo', monospace;
        font-family: var(--font-family-sans); */
        font-size: 12px;
        /* line-height: 1.5; */
        /* color: #333; */
    }
    /* Setting typography defaults */


    /* Hide scrollbars */
    body::-webkit-scrollbar {
        display: none
    }
    /* Hide scrollbars */


    /* Default Container Width */
    .container {
        max-width: 1180px;
    }
    /* Default Container Width */
}


@layer components {
    .brand svg {
        @apply w-28
    }
    .nav-links p {
        @apply text-lg font-semibold text-skin-purpleColor capitalize inline-flex items-baseline
    }
    .nav-links span {
        @apply ml-2
    }
    .menu-right a {
        @apply text-lg text-skin-purpleColor capitalize font-semibold rounded-lg
    }
    .menu-right a:last-child {
        @apply text-white bg-purple-900 px-10 py-3 rounded-xl ml-36
    }
    .social--links svg:last-child {
        @apply ml-4
    }
    .home-section-one--left {
        @apply w-4/8
    }
    .home-section-one--right {
        @apply w-5/2
    }
    .home-section-one--left h1 {
        @apply text-6xl font-bold text-purple-950
    }
    .home-section-one--left h4 {
        @apply text-2xl/normal font-medium text-slate-800
    }
    .home-section-three--left h2 {
        @apply text-5xl/tight font-bold text-purple-950   
    }
    .home-section-three--left p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-three--left .section-three--cta a {
        @apply inline-flex justify-between items-center
    }
    .home-section-three--left .section-three--cta span:first-child {
        @apply underline text-xl font-semibold text-skin-purpleColor
    }
    .home-section-three--right .anim-wrap svg {
        @apply relative 
    }
    .home-section-four--right h2 {
        @apply text-4xl/tight font-black text-purple-950 
    }
    .home-section-four--right p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-five--left h2 {
        @apply text-5xl/tight font-bold text-purple-950   
    }
    .home-section-five--left p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-five--left .section-five--cta a {
        @apply inline-flex justify-between items-center
    }
    .home-section-five--left .section-five--cta span:first-child {
        @apply underline text-xl font-semibold text-skin-purpleColor
    }
    .home-section-six--right h2 {
        @apply text-4xl/tight font-black text-purple-950 
    }
    .home-section-six--right p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-six--right .section-six--cta a {
        @apply inline-flex justify-between items-center
    }
    .home-section-six--right .section-six--cta span:first-child {
        @apply underline text-xl font-semibold text-skin-purpleColor
    }
    .home-section-seven--left h2 {
        @apply text-5xl/tight font-bold text-purple-950   
    }
    .home-section-seven--left p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-seven--left .section-seven--cta a {
        @apply inline-flex justify-between items-center
    }
    .home-section-seven--left .section-seven--cta span:first-child {
        @apply underline text-xl font-semibold text-skin-purpleColor capitalize
    }
    .home-section-eight--right h2 {
        @apply text-4xl/tight font-black text-purple-950 
    }
    .home-section-eight--right p {
        @apply text-xl/normal font-medium text-slate-800
    }
    .home-section-eight--right .section-eight--cta a {
        @apply inline-flex justify-between items-center
    }
    .home-section-eight--right .section-eight--cta span:first-child {
        @apply underline text-xl font-semibold text-skin-purpleColor
    }
    .customer_info {
        @apply inline-flex items-center space-x-4
    }
    .customer_info img, .customer_info div {
        @apply w-16 h-16 rounded-full flex  justify-center items-center text-white text-2xl font-black bg-skin-purpleColor
    }
    .customer_info p {
        @apply text-sm font-black
    }
}


